{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Nova categoria : </h3>
<div class="card">

    <div class="card-body"> 

        {{!-- This form is going to submit to the /categoria/nova route --}}
        <form action = "/admin/categoria/nova" method ="POST" >

            <label for = "nome" > Nome: </label>
                <input type= "text" id = "nome" name="nome" placeholder="Nome da categoria" class="form-control">
                <br>
            <label for = "slug" > Slug: </label>
                <input type= "text" id = "slug" name = "slug" placeholder="Slug da categoria" class="form-control">
                <br>

             <div class="row justify-content-between ml-auto mr-auto mt-4">
                <button type = "submit" class="btn btn-success">Criar categoria</button>
                <a href = "/admin/categoria"> <button type = "button" class="btn btn-secondary ">Voltar</button></a>      
            </div>
            
        </form>

    </div>

</div>