{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h4>Nova Postagem</h4>

<div class="card mt-4">

    <div class="card-body"> 

        {{!-- This form is going to submit to the /categoria/edit route --}}
        <form action = "/admin/postagens/nova" method ="POST" >

            <label for = "titulo" > Titulo: </label>
                <input type= "text"  name="titulo" placeholder="Titulo" class="form-control">
                <br>

            <label for = "slug" > Slug: </label>
                <input type= "text"  placeholder="Slug" name="slug" class="form-control" >
                <br> 

            <label for = "descricao" >Descricao: </label>
                <input type= "text"  placeholder="Descricao" name="descricao" class="form-control" >
                <br> 

            <label for = "conteudo" >Conteudo: </label>
                <textarea  name = "conteudo"  class="form-control" ></textarea>
                <br>

            <label for = "categoria" >Categorias: </label>
            <select name ="categoria" class="form-control">
                {{#each categorias}}
                    <option value = "{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>

            <div class="row justify-content-between ml-auto mr-auto mt-4">
                <button type = "submit" class="btn btn-success ">Postar</button>
                <a href = "/admin/postagens"> <button type = "button" class="btn btn-secondary ">Voltar</button></a>      
            </div>
            
        </form>

    </div>

</div>