
<div class="row">
    <h2 class="col-md-10">Lista de categorias: </h2>
    <a href="/admin/categoria/add"> <button class = "btn btn-success col-6 col-md-8"> Nova Categoria </button> </a>
</div>

<hr>


{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body">

            <div class="row">
                <h4 class="col-sm-10">{{nome}}</h4>
                <a href = "/admin/categoria/edit/{{_id}}"> <button class="btn btn-primary col-4 col-sm-12"> Editar</button> </a>
            </div>
            
            <div class="row">
                <div class="col-sm-10 mt-1">
                    <small><b>Slug :</b> {{slug}}</small>
                    <br>
                    <small><b>Data de criacao :</b> {{date}}</small>
                </div>

                <form action = "/admin/categoria/deletar" method="POST" >
                    <input type ='hidden' name = 'id' value="{{_id}}">
                    <button type = "submit" class="btn btn-danger col-4 col-sm-12 mt-3">Deletar</button>

                </form>

            </div>
        </div>
    </div>
{{else}}

    <h5 class="mt-4">Nenhuma categoria registrada</h5>

{{/each}}