{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Editar categoria : </h3>
<div class="card">

    <div class="card-body"> 

        {{!-- This form is going to submit to the /categoria/edit route --}}
        <form action = "/admin/categoria/edit" method ="POST" >
            <input type ='hidden' name = 'id' value="{{categoria._id}}">

            <label for = "nome" > Nome: </label>
                <input type= "text" id = "nome" name="nome" placeholder="Nome da categoria" class="form-control" value="{{categoria.nome}}">
                <br>
            <label for = "slug" > Slug: </label>
                <input type= "text" id = "slug" name = "slug" placeholder="Slug da categoria" class="form-control" value = '{{categoria.slug}}'>
                <br> 

            <div class="row justify-content-between ml-auto mr-auto">
                <button type = "submit" class="btn btn-success ">Editar categoria</button>
                <a href = "/admin/categoria"> <button type = "button" class="btn btn-secondary ">Voltar</button></a>      
            </div>
            
        </form>

    </div>

</div>