{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Editar Postagem : </h3>
<div class="card">

    <div class="card-body"> 

        {{!-- This form is going to submit to the /postagens/edit route --}}
        <form action = "/admin/postagens/edit" method ="POST" >
            
            {{!-- Pegando o ID da postagem para utilizar na rota router.post('/postagens/edit') para atualizar o DB --}}
            <input type ='hidden' name = 'id' value="{{postagem._id}}">

             <label for = "titulo" > Titulo: </label>
                <input type= "text"  name="titulo" placeholder="Titulo" class="form-control" value="{{postagem.titulo}}">
                <br>

            <label for = "slug" > Slug: </label>
                <input type= "text"  placeholder="Slug" name="slug" class="form-control" value="{{postagem.slug}}">
                <br> 

            <label for = "descricao" >Descricao: </label>
                <input type= "text"  placeholder="Descricao" name="descricao" class="form-control" value="{{postagem.descricao}}">
                <br> 

            <label for = "conteudo" >Conteudo: </label>
                <textarea  name = "conteudo"  class="form-control" >{{postagem.conteudo}}</textarea>
                <br>

            <label for = "categoria" >Categorias: </label>
            <select name ="categoria" class="form-control">
                {{#each categorias}}
                    <option value = "{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>

            <div class="row justify-content-between ml-auto mr-auto mt-4">
                <button type = "submit" class="btn btn-success ">Editar postagem</button>
                <a href = "/admin/postagens"> <button type = "button" class="btn btn-secondary ">Voltar</button></a>      
            </div>
            
        </form>

    </div>

</div>