<div class="row">
    <h2 class="col-md-10">Lista de postagem: </h2>
    <a href="/admin/postagens/add"> <button class = "btn btn-success col-6 col-md-8"> Nova Postagem </button> </a>
</div>
<hr>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">

            <div class="row">
                <h4 class="col-sm-10">{{titulo}}</h4>
                <a href = "/admin/postagens/edit/{{_id}}"> <button class="btn btn-primary col-4 col-sm-12"> Editar</button> </a>
            </div>

            <div class="row">
                <div class="col-sm-10 mt-1">
                    <p><b>Descricao : </b> {{descricao}}</p>
                    <small><b>Categoria : </b>  {{categoria.nome}}</small>
                    <br>
                    <small><b>Data de criacao :</b> {{data}}</small>
                </div>

                <form action = "/admin/postagens/deletar" method="POST" >
                    <input type ='hidden' name = 'id' value="{{_id}}">
                    <button type = "submit" class="btn btn-danger col-4 col-sm-12 mt-3">Deletar</button>

                </form>

            </div> 

        </div>
    </div>
{{else}}

    <h5 class="mt-4">Nenhuma postagem registrada</h5>

{{/each}}