{{#if success_msg}}
    {{!-- Vindo das variaveis globais --}}
    <div class="alert alert-success">{{success_msg}}</div>
{{/if}}



{{#if error_msg}}
    {{!-- Vindo das variaveis globais --}}
    <div class="alert alert-danger">{{error_msg}}</div> 
{{/if}}