<!DOCTYPE html>


<html>

    <head>
        <link rel="stylesheet" href="/css/bootstrap.css">
        

        <meta charset = 'UTF-8'>
        <meta name = "viewport" content = 'width=device-width, intial-scale = 1.0'>

        <title>Blog NodeJS</title>

    </head>

    <body>

        {{>_navbar}}
        

        <div class="container mt-4">
            
            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{else}} 

            {{/if}}

            {{>_msg}}
            {{{body}}}

        </div>
        

    </body>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
</html>