<div class="jumbotron">
  <h1 class="display-4">Bem vindo !</h1>
  <p class="lead">NodeJS + Express + MongoDB</p>
  <hr class="my-4">
  <p>Pedro Miotti.</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens Recentes</h2>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">

            <h3>{{titulo}}</h3>
            <p></p><b></b> {{descricao}}</p>

             <hr>
            <div class="row">
               
                <div class="col-sm-10 mt-1">
                    <small><b>Categoria : </b>  {{categoria.nome}}</small> <br>
                    <small><b>Data de criacao :</b> {{data}}</small>
                </div>

                <a href = "/postagem/{{slug}}"> <button class="btn btn-primary col-4 col-sm-12 mt-3">Leia Mais</button> </a> 
            </div>

        </div>
    </div>
{{else}}

    <h5 class="mt-4">Nenhuma postagem registrada</h5>

{{/each}}