<h4>Login </h4>
<hr>

<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="POST">
            <label for="email">Email :</label>
                <input type="email" name="email" class="form-control" required>

            <label for="senha">Senha: </label>
                <input type="password" name="senha" class="form-control" required> 

            <button type="submit" class="btn btn-success mt-4">Entrar</button>
        </form>
    </div>
</div>