<h3>Crie sua conta :</h3>
<hr>

{{!-- Mostrando os erros  --}}
{{#each erros}}
    <div class="alert alert-danger"> {{texto}} </div>

{{else}}

{{/each}}

<div class="card">
    <div class="card-body">
        <form action="" method="POST">
            <label for="nome">Nome : </label>
                <input type="text" name="nome" class="form-control" required>

            <label for="email">E-mail : </label>
                <input type="email" name="email" class="form-control" required>

            <label for="senha">Senha : </label>
                <input type="password" name="senha" class="form-control" required>

            <label for="senha2">Repita a sua senha : </label>
                <input type="password" name="senha2" class="form-control" required>

            <button type="submit" class="btn btn-success mt-4">Criar conta</button>
        </form>

    </div>
</div>