<h4>{{categoria.nome}}</h4>
<hr>
{{#each postagen}}
    <div class="card mt-4">
        <div class="card-body">

            <h3>{{titulo}}</h3>
            <p></p><b></b> {{descricao}}</p>

             <hr>
            <div class="row">
               
                <div class="col-sm-10 mt-1">
                    <small><b>Data de criacao :</b> {{data}}</small>
                </div>

                <a href = "/postagem/{{slug}}"> <button class="btn btn-primary col-4 col-sm-12 mt-3">Leia Mais</button> </a> 
            </div>

        </div>
    </div>
{{else}}

    <h5 class="mt-4">Nenhuma postagem registrada</h5>

{{/each}}